{{- if .Values.api.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "netpicker.api.fullname" . }}
  labels:
    {{- include "netpicker.labels" . | nindent 4 }}
    app.kubernetes.io/component: api
    netpicker.io: service
    service.netpicker.io: api
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "netpicker.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: api
  template:
    metadata:
      labels:
        {{- include "netpicker.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: api
        netpicker.io: service
        service.netpicker.io: api
    spec:
      enableServiceLinks: false
      {{- include "netpicker.imagePullSecrets" . | nindent 6 }}
      initContainers:
        {{- if .Values.volumePermissions.enabled }}
        {{- include "netpicker.init-perms" (dict "context" . "paths" (list "/policy-data")) | nindent 8 }}
        {{- end }}
        - name: wait-for-db-and-migrations
          image: {{ include "netpicker.image" (dict "global" .Values.global "image" .Values.images.api) }}
          command:
            - /bin/sh
            - -c
            - wait-for-db
          env:
            {{ include "netpicker.dbConfig" . | nindent 12 }}
            - name: alembic_version
              value: {{ .Values.api.alembicVersion | quote }}
      containers:
        - name: api
          image: {{ include "netpicker.image" (dict "global" .Values.global "image" .Values.images.api) }}
          imagePullPolicy: {{ .Values.images.api.pullPolicy }}
          env:
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.global.secretConfig | default "default" }}
                  key: JWT_SECRET
            {{ include "netpicker.dbConfig" . | nindent 12 }}
            - name: alembic_version
              value: {{ .Values.api.alembicVersion | quote }}
            - name: CLI_PROXY_HOST
              value: {{ .Values.api.cliProxyHost | quote }}
            - name: LOG_LEVEL
              value: {{ .Values.api.logLevel | quote }}
            - name: UVICORN_ROOT_PATH
              value: {{ .Values.api.uvicornRootPath | quote }}
            - name: GIT_REPO_MANAGER
              value: '["{{ include "netpicker.gitd.fullname" . }}", {{ .Values.gitdctrl.service.port }}]'
            {{- if .Values.api.gitAuthorName }}
            - name: GIT_AUTHOR_NAME
              value: {{ .Values.api.gitAuthorName | quote }}
            {{- end }}
            {{- if .Values.api.gitAuthorEmail }}
            - name: GIT_AUTHOR_EMAIL
              value: {{ .Values.api.gitAuthorEmail | quote }}
            {{- end }}
            {{- if .Values.api.gitCommitterName }}
            - name: GIT_COMMITTER_NAME
              value: {{ .Values.api.gitCommitterName | quote }}
            {{- end }}
            {{- if .Values.api.gitCommitterEmail }}
            - name: GIT_COMMITTER_EMAIL
              value: {{ .Values.api.gitCommitterEmail | quote }}
            {{- end }}

          ports:
            - name: http
              containerPort: 8000
              protocol: TCP
          volumeMounts:
            - name: policy-data
              mountPath: /data
          livenessProbe:
            httpGet:
              path: /api/v1/status
              port: http
            initialDelaySeconds: 60
            periodSeconds: 5
          readinessProbe:
            httpGet:
              path: /api/v1/status
              port: http
            initialDelaySeconds: 30
            periodSeconds: 5
          resources:
            {{- toYaml .Values.api.resources | nindent 12 }}
      volumes:
        - name: policy-data
          persistentVolumeClaim:
            claimName: {{ include "netpicker.api.fullname" . }}-data
      securityContext:
        fsGroup: 911
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "netpicker.api.fullname" . }}
  labels:
    {{- include "netpicker.labels" . | nindent 4 }}
    app.kubernetes.io/component: api
spec:
  type: {{ .Values.api.service.type }}
  ports:
    - port: {{ .Values.api.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "netpicker.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: api
{{- end }}
