{{- if .Values.celery.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "netpicker.celery.fullname" . }}
  labels:
    {{- include "netpicker.labels" . | nindent 4 }}
    app.kubernetes.io/component: celery
    netpicker.io: service
    service.netpicker.io: celery
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "netpicker.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: celery
  template:
    metadata:
      labels:
        {{- include "netpicker.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: celery
        netpicker.io: service
        service.netpicker.io: celery
    spec:
      enableServiceLinks: false
      {{- include "netpicker.imagePullSecrets" . | nindent 6 }}
      initContainers:
        {{- if .Values.volumePermissions.enabled }}
        {{- include "netpicker.init-perms" (dict "context" . "paths" (list "policy-data")) | nindent 8 }}
        {{- end }}
      containers:
        - name: celery
          image: {{ include "netpicker.image" (dict "global" .Values.global "image" .Values.images.api) }}
          imagePullPolicy: {{ .Values.images.api.pullPolicy }}
          command: ["/run-celery"]
          env:
            {{ include "netpicker.dbConfig" . | nindent 12 }}
            - name: alembic_version
              value: {{ .Values.api.alembicVersion | quote }}
            - name: CLI_PROXY_HOST
              value: {{ .Values.api.cliProxyHost | quote }}
            - name: LOG_LEVEL
              value: {{ .Values.celery.logLevel | quote }}
            - name: UVICORN_ROOT_PATH
              value: {{ .Values.api.uvicornRootPath | quote }}
            - name: CELERY_BROKER_URL
              value: "redis://{{ include "netpicker.redis.fullname" . }}:{{ .Values.redis.service.port }}"
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.global.secretConfig | default "default" }}
                  key: JWT_SECRET
          volumeMounts:
            - name: policy-data
              mountPath: /data
#            - name: transferium
#              mountPath: /transferium
#            - name: dc-vol
#              mountPath: /dc-vol
          livenessProbe:
            exec:
              command:
                - /usr/local/bin/celery inspect ping -t 5
            initialDelaySeconds: 15
            periodSeconds: 120
            timeoutSeconds: 10
          resources:
            {{- toYaml .Values.celery.resources | nindent 12 }}
      volumes:
        - name: policy-data
          persistentVolumeClaim:
            claimName: {{ include "netpicker.api.fullname" . }}-data
#        - name: transferium
#          persistentVolumeClaim:
#            claimName: {{ include "netpicker.fullname" . }}-transferium
#        - name: dc-vol
#          persistentVolumeClaim:
#            claimName: {{ include "netpicker.fullname" . }}-dc-vol
      securityContext:
        fsGroup: 911
{{- end }}
