{{- if .Values.frontend.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "netpicker.frontend.fullname" . }}
  labels:
    {{- include "netpicker.labels" . | nindent 4 }}
    app.kubernetes.io/component: frontend
    netpicker.io: service
    service.netpicker.io: front-end
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "netpicker.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: frontend
  template:
    metadata:
      labels:
        {{- include "netpicker.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: frontend
        netpicker.io: service
        service.netpicker.io: front-end
    spec:
      {{- include "netpicker.imagePullSecrets" . | nindent 6 }}
      containers:
        - name: frontend
          image: {{ include "netpicker.image" (dict "global" .Values.global "image" .Values.images.frontend) }}
          imagePullPolicy: {{ .Values.images.frontend.pullPolicy }}
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          volumeMounts:
            - name: git
              mountPath: /git
          resources:
            {{- toYaml .Values.frontend.resources | nindent 12 }}
      volumes:
        - name: git
          persistentVolumeClaim:
            claimName: {{ include "netpicker.gitd.fullname" . }}-data
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "netpicker.frontend.fullname" . }}
  labels:
    {{- include "netpicker.labels" . | nindent 4 }}
    app.kubernetes.io/component: frontend
spec:
  type: {{ .Values.frontend.service.type }}
  ports:
    - port: {{ .Values.frontend.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "netpicker.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: frontend
{{- end }} 