{{- if .Values.gitd.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "netpicker.gitd.fullname" . }}
  labels:
    {{- include "netpicker.labels" . | nindent 4 }}
    app.kubernetes.io/component: gitd
    netpicker.io: service
    service.netpicker.io: gitd
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "netpicker.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: gitd
  template:
    metadata:
      labels:
        {{- include "netpicker.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: gitd
        netpicker.io: service
        service.netpicker.io: gitd
    spec:
      {{- include "netpicker.imagePullSecrets" . | nindent 6 }}
      initContainers:
        {{- if .Values.volumePermissions.enabled }}
        {{- include "netpicker.init-perms" (dict "context" . "paths" (list "/git")) | nindent 8 }}
        {{- end }}
      containers:
        - name: gitd
          image: {{ include "netpicker.image" (dict "global" .Values.global "image" .Values.images.gitd) }}
          imagePullPolicy: {{ .Values.images.gitd.pullPolicy }}
          ports:
            - name: gitd
              containerPort: {{ .Values.gitd.service.port }}
              protocol: TCP
          volumeMounts:
            - name: git
              mountPath: /git
          resources:
            {{- toYaml .Values.gitd.resources | nindent 12 }}
        - name: gitdctrl
          image: {{ include "netpicker.image" (dict "global" .Values.global "image" .Values.images.gitdctrl) }}
          imagePullPolicy: {{ .Values.images.gitdctrl.pullPolicy }}
          ports:
            - name: gitdctrl
              containerPort: {{ .Values.gitdctrl.service.port }}
              protocol: TCP
          volumeMounts:
            - name: git
              mountPath: /git
          livenessProbe:
            tcpSocket:
              port: {{ .Values.gitdctrl.service.port }}
            initialDelaySeconds: 5
            periodSeconds: 5
          readinessProbe:
            tcpSocket:
              port: {{ .Values.gitdctrl.service.port }}
            initialDelaySeconds: 5
            periodSeconds: 5
          resources:
            {{- toYaml .Values.gitdctrl.resources | nindent 12 }}
      volumes:
        - name: git
          persistentVolumeClaim:
            claimName: {{ include "netpicker.gitd.fullname" . }}-data
      securityContext:
        fsGroup: 911
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "netpicker.gitd.fullname" . }}
  labels:
    {{- include "netpicker.labels" . | nindent 4 }}
    app.kubernetes.io/component: gitd
spec:
  type: {{ .Values.gitd.service.type }}
  ports:
    - port: {{ .Values.gitd.service.port }}
      targetPort: gitd
      protocol: TCP
      name: gitd
    - port: {{ .Values.gitdctrl.service.port }}
      targetPort: gitdctrl
      protocol: TCP
      name: gitdctrl
  selector:
    {{- include "netpicker.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: gitd
---
{{- end }}
